<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SqlBulkCopyVSMergeAsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
					layout="${longdate}| ${uppercase: ${level}}| ${logger}| ${message}| ${exception:format=tostring}">
				<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
				<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
			</target>
			<target name="logFile" xsi:type="File" layout="${longdate}| ${uppercase: ${level}}| ${logger}| ${message}| ${exception:format=tostring}"
					fileName="${basedir}/logs/${shortdate}.log" keepFileOpen="false" encoding="UTF-8"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="coloredConsole"/>
			<logger name="*" minlevel="Debug" writeTo="logFile"/>
		</rules>
	</nlog>
	<applicationSettings>
		<SqlBulkCopyVSMergeAsync.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>
					Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Test;Integrated Security=True;
					Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False
				</value>
			</setting>
			<setting name="StatusInProgress" serializeAs="String">
				<value>InProgress</value>
			</setting>
			<setting name="StatusSucces" serializeAs="String">
				<value>Success</value>
			</setting>
		</SqlBulkCopyVSMergeAsync.Properties.Settings>
	</applicationSettings>
</configuration>